sudo: false

language: cpp

addons:
  apt:
    packages:
      - cmake
      - libprotobuf-dev
      - protobuf-compiler

matrix:
  include:
    - name: "linux-gcc"
      os: linux
      dist: xenial
      compiler: gcc
      env:
        - NAME=linux-gcc
        - BUILD="mkdir build && cd build && cmake -DCMAKE_TOOLCHAIN_FILE=../toolchains/x86_convert_tool.gcc.toolchain.cmake .. && make -j2 && ctest --output-on-failure -j 2"

    - name: "linux-gcc-arm64"
      os: linux
      arch: arm64
      dist: bionic
      compiler: gcc
      env:
        - NAME=linux-gcc-arm64
        - BUILD="mkdir build && cd build && cmake -DCMAKE_TOOLCHAIN_FILE=../toolchains/arm64.native.gcc.toolchain.cmake .. && make -j2 && ctest --output-on-failure -j 2"

before_install:
  - eval "${BEFORE_BUILD}"

script:
  - eval "${BUILD}"
