#-------------------------------------------------------------------------------
#  Template configuration for compiling
#
#  First copy makefile.config.example to makefile.config (assume you are on the 
#  root directory). 
#
#  $ cp makefile.config.example makefile.config
#
#  Next modify makefile.config, and then compile by
#
#  $ make
#
#  or build in parallel with 8 threads
#
#  $ make -j8
#-------------------------------------------------------------------------------

# cross compile for ARM64
# CROSS_COMPILE=aarch64-linux-gnu-
# cross compile for ARM32
# CROSS_COMPILE=arm-linux-gnueabihf-

# Just to differentiate with sysroot for embedded toolchains building 
# As toolchains just need a few pre-built libraries
# 
# EMBEDDED_CROSS_ROOT=/opt/install/

# Set the target arch 
 CONFIG_ARCH_ARM64=y
# CONFIG_ARCH_ARM32=y

# Enable Compiling Optimization
CONFIG_OPT_CFLAGS = -O2

# Use BLAS as the operator implementation
# CONFIG_ARCH_BLAS=y

# Enable GPU support by Arm Computing Library
# CONFIG_ACL_GPU=y

# Set the path of ACL 
# ACL_ROOT=/home/firefly/ComputeLibrary

# Enable other serializers 
CONFIG_CAFFE_SERIALIZER=y
# CONFIG_MXNET_SERIALIZER=y
# CONFIG_ONNX_SERIALIZER=y
# CONFIG_TF_SERIALIZER=y
# CONFIG_TFLITE_SERIALIZER=y
CONFIG_TENGINE_SERIALIZER=y

# Enable Wrappers
# CONFIG_FRAMEWORK_WRAPPER=y

# version postfix
CONFIG_VERSION_POSTFIX=github

# support legacy API 
CONFIG_LEGACY_API=y

# kernel configuration
CONFIG_KERNEL_FP32=y
