#
:<<!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * License); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * AS IS BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * tengine 1.10.0
 *
 * you can find other build config in example_config folder
 *
 *
!
#
#The following option is used for setting cross compiler path
#EMBEDDED_CROSS_PATH=/opt/toolchain/path

#The following option is used for setting cross compiler prefix
#CROSS_COMPILE=aarch64-linux-gnu-

#The following option is used for system architecture type. 
#option value [x86/Arm32/Arm64]
ARCH_TYPE=x86

#The following option is used for setting compile flag
CONFIG_OPT_CFLAGS=-O2



#The following option is used for building serializer or not.
#option value [y/n]
BUILD_SERIALIZER=n

#The following two options are used for setting protobuf only if turning on the BUILD_SERIALIZER option
#PROTOBUF_LIB_PATH=/protobuf/path/lib
#PROTOBUF_INCLUDE_PATH=/protobuf/path/include



#The following option is used for building acl or not. [y/n]
#option value [y/n]
BUILD_ACL=n

#The following option are used for setting acl only if turning on the BUILD_ACL option
ACL_ROOT=/acl/path

#The following option is used for building conver tools only support linux_x86
#option value [y/n]
#BUILD_TOOLS=y

#The following option is used for building with open blas
OPEN_BLAS=y

#The following two options are used for setting openblas only if turning on the OPEN_BLAS option
OPENBLAS_LIB_PATH=/openblas/path/include
OPENBLAS_INCLUDE_PATH=/openblas/path/lib
